.openerp {
	padding: 0;
	margin: 0;
	font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
	color: #4c4c4c;
	font-size: 13px;
	background: white;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}